/* Fonts */

@font-face {
    font-family: 'ContaxSans55Reg';
    src: url('../fonts/ContaxSans55Reg-webfont.woff2') format('woff2'),
    url('../fonts/ContaxSans55Reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Global */

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    padding: 0;
    background-color: #0e0e0e;
}

/* Main */

.wrapper {
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto 0;
    padding: 20px;
}

section {
    margin-bottom: 5px;
}

section:last-of-type {
    margin-bottom: 0;
}

.accordion-btn {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    border: 0;
    height: 105px;
    background: #9e38b0 url('../images/arrow-down.png') right 20px center no-repeat;
    border-bottom: 5px solid #6f277d;
    color: #fff;
    text-align: left;
    padding: 0 55px 0 18px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    transition: background-color 0.3s linear;
}

section.active .accordion-btn {
    background: #6844b7 url('../images/arrow-up.png') right 20px center no-repeat;
    border-bottom: 5px solid #4c3185;
    transition: background-color 0.3s linear;
}

.text-wrap {
    overflow: hidden;
    border-left: 2px solid #ebebeb;
    border-right: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    height: 0;
    transition: all 1s ease;
}

p {
    font-family: 'ContaxSans55Reg', Serif;
    color: #5c5c5c;
    font-size: 20px;
    line-height: 24px;
    margin: 30px 20px 30px;
}

.error {
    text-align: center;
}